# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg

# PyInstaller
build/
dist/
*.spec.bak

# Inno Setup output
installer_output/

# Database
*.db
*.sqlite

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Virtual environment
venv/
.env/
